<ng-container *ngIf="!chosenPhrase">
  <ng-container *ngIf="populatePhrases.isRunning">
    Populating phrases... please wait...
  </ng-container>
  
  <div class="phrase-chooser" *ngIf="!populatePhrases.isRunning">
    Choose a phrase:
    <div class="phrase" *ngFor="let phrase of phrases" (click)="choosePhrase(phrase)">
      {{ phrase.text }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="chosenPhrase && !isIPhone">
  <div class="monitor">
    <div class="phrase-to-read">{{ chosenPhrase.text }}</div>
    <div class="recording-indicator" *ngIf="startTimedRecording.isRunning"></div>
    <app-record-rtc #recorder></app-record-rtc>
    <div class="countdown" *ngIf="countdown">Ready? {{ countdown }}</div>
  </div>
  
  <div class="buttons">
    <button class="record-button" [disabled]="startTimedRecording.isRunning" (click)="startTimedRecording.perform()" [ngSwitch]="true">
      <ng-container *ngSwitchCase="startTimedRecording.isRunning">Recording...</ng-container>
      <ng-container *ngSwitchCase="!!startTimedRecording.currentValue">Do Over</ng-container>
      <ng-container *ngSwitchDefault>Record</ng-container>
    </button>
  
    <button *ngIf="startTimedRecording.currentValue">Upload</button>
  
  </div>
</ng-container>

<ng-container *ngIf="chosenPhrase && isIPhone">
  <p>Touch the button below. Once you are in your camera, you can record to make your video.</p>

  <p>
    Make sure your video is {{ recordTimeInSeconds }} seconds long!
  </p>

  <div class="phrase-to-read">{{ chosenPhrase.text }}</div>
  <input #iosFileChooser type="file" name="video" accept="video/*" capture/>

  <button *ngIf="chosenFile">Upload</button>
</ng-container>