<ng-container *ngIf="!chosenPhrase">
  <ng-container *ngIf="populatePhrases.isRunning">
    Populating phrases... please wait...
  </ng-container>
  
  <div class="phrase-chooser" *ngIf="!populatePhrases.isRunning">
    Choose a phrase:
    <div class="phrase" *ngFor="let phrase of phrases" (click)="choosePhrase(phrase)">
      {{ phrase.text }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="chosenPhrase && !isIPhone">
  <div class="landscape">Please rotate your device to landscape.</div>
  <div class="monitor">
    <div class="phrase-to-read">{{ chosenPhrase.text }}</div>
    <div class="recording-indicator" *ngIf="startTimedRecording.isRunning"></div>
    <app-record-rtc #recorder></app-record-rtc>
    <div class="countdown" *ngIf="countdown">Ready? {{ countdown }}</div>
    <div class="recording-timer" *ngIf="recordingTimer">{{ recordingTimer }}</div>
  </div>
  
  <div class="buttons">
    <button class="record-button" [disabled]="startTimedRecording.isRunning" (click)="startTimedRecording.perform()" [ngSwitch]="true">
      <ng-container *ngSwitchCase="startTimedRecording.isRunning">Recording...</ng-container>
      <ng-container *ngSwitchCase="!!startTimedRecording.currentValue">Do Over</ng-container>
      <ng-container *ngSwitchDefault>Record</ng-container>
    </button>
  
    <button *ngIf="startTimedRecording.currentValue" (click)="upload()">Upload</button>
  
  </div>
</ng-container>

<ng-container *ngIf="chosenPhrase && isIPhone">
  <div class="landscape">Please rotate your device to landscape.</div>  
  <ol>
    <li>
      Memorize this phrase: 
      <div class="phrase-to-read">{{ chosenPhrase.text }}</div>
    </li>
    <li>
      <p>
        Touch the button below. Once you are in your camera, you can record to make your video.
        <strong>
          Make sure your video is about {{ recordTimeInSeconds }} seconds long!
        </strong>
      </p>
      <input #iosFileChooser type="file" name="video" accept="video/*" capture/>
    </li>
    <li *ngIf="chosenFile">
      <button (click)="upload()">Upload</button>
    </li>
  </ol>
</ng-container>

<div class="done" *ngIf="done">
  Thanks for your submission!
</div>