<ng-container *ngIf="chosenPhrase; else phraseChooser">
  <app-record-rtc #recorder></app-record-rtc>
  
  <div class="buttons">
    <button [disabled]="startTimedRecording.isRunning" (click)="startTimedRecording.perform()">
      <ng-container *ngIf="startTimedRecording.currentValue">Do Over</ng-container>
      <ng-container *ngIf="!startTimedRecording.currentValue">Record</ng-container>
    </button>
  </div>

  <button *ngIf="startTimedRecording.currentValue">Upload</button>
</ng-container>

<ng-template #phraseChooser>
  <ng-container *ngIf="populatePhrases.isRunning">
    Populating phrases... please wait...
  </ng-container>
  
  <div class="phrase-chooser" *ngIf="!populatePhrases.isRunning">
    Choose a phrase:
    <div class="phrase" *ngFor="let phrase of phrases">
      <button (click)="choosePhrase(phrase)">Choose</button>{{ phrase.text }}
    </div>
  </div>
</ng-template>